body {
    background-color: black;
    text-align: center;
    color: #41B6E6;
}



.h1 {
    text-align: center;
}

.home {
    font-size: 2.5em;
    color: rgb(50, 89, 85);
    margin-top: -50px;
    text-align: right;
    margin-right: 30px;
}

img {
    margin-top: 200px;
}