body {
    background-color: black;
    text-align: center;
    color: #41B6E6;

}

.home {
    font-size: 2.5em;
    color: turquoise;
    margin-top: -50px;
    text-align: right;
    margin-right: 30px;
}

img {
    margin-top: 200px;

}

