body {
  background-color: #41B6E6;
  text-align: center;
  color: #DB3EB1;
}

.home {
  font-size: 2.5em;
  color: rgb(125, 34, 34);
  margin-top: 50px;
  text-align: right;
  margin-right: 30px;
}

img {
  max-width: 60%;
  max-height: 60%;
  text-align: center;
  margin-top: 100px;
}

.footer {
  background-color: #DB3EB1;
  height: 60px;
  margin: auto;
  width: 98vw;
  margin-top: 60vh;
  position: absolute;
}

.about2 {
  background-color: rgb(198, 198, 198);
  height: 20px;
  width: 80px;
  margin-top: 20px;
  margin-left: 87vw;
  text-align: center;
}


.contact2 {
  background-color: rgb(198, 198, 198);
  height: 20px;
  width: 80px;
  margin-left: 93vw;
  margin-top: -20px;
  text-align: center;
}
