body {
background-color: black;
color: white;
font-family: 'Play', sans-serif;
}

  

a:hover { 
    background-color: #DB3EB1;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.header {
    background-color: #41B6E6;
    height: 60px;
    margin-top: 20px;
    width: 98vw;

}

.portfolio {
    height: 20px;
    width: 60px;
    margin-top: -40px;
    margin-left: 10px;
    text-align: center;
}

.about {
    height: 20px;
    width: 60px;
    margin-left: 90px;
    margin-top: -20px;
    text-align: center;
}

.contact {
    height: 20px;
    width: 60px;
    margin-left: 170px;
    margin-top: -20px;
    text-align: center;
}

.github {
    height: 20px;
    width: 60px;
    margin-left: 90vw;
    margin-top: -20px;
}

.linkdin {
    height: 20px;
    width: 60px;
    margin-left: 93.5vw;
    margin-top: -20px;
}


.tabs {
    background-color: black;
}

.box1 {
    border: #DB3EB1 solid;
    height: 600px;
    width: 700px;
    margin-top: 40px;
    margin-left: 200px;
    font-size: 2em;
    text-align: center;
}

.box1 {
    border: 2px solid #DB3EB1;
    border-radius: 8px;
}

.box1:focus { 
    outline: #DB3EB1;
    border-color: #9ecaed;
    box-shadow: 0 0 100px #9ecaed;
}



.box2 {
    border: #DB3EB1 solid;
    height: 600px;
    width: 700px;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 2em;
    text-align: center;
}

.box2 {
    border: 2px solid #DB3EB1;
    border-radius: 8px;
}

.box2:focus { 
    outline: #DB3EB1;
    border-color: #9ecaed;
    box-shadow: 0 0 100px #9ecaed;
}

.box3 {
    border: #DB3EB1 solid;
    height: 600px;
    width: 700px;
    margin-top: -1405px;
    margin-left: 1000px;
    font-size: 2em;
    text-align: center;
}

.box3 {
    border: 2px solid #DB3EB1;
    border-radius: 8px;
}

.box3:focus { 
    outline: #DB3EB1;
    border-color: #9ecaed;
    box-shadow: 0 0 100px #9ecaed;
}

.box4 {
    border: #DB3EB1 solid;
    height: 600px;
    width: 700px;
    margin-top:200px;
    margin-left: 1000px;
    font-size: 2em;
    text-align: center;
}

.box4 {
    border: 2px solid #DB3EB1;
    border-radius: 8px;
}

.box4:focus { 
    outline: #DB3EB1;
    border-color: #9ecaed;
    box-shadow: 0 0 100px #9ecaed;
}






.footer {
    background-color: #41B6E6;
    height: 60px;
    margin: auto;
    width: 98vw;
    margin-top: 60vh;
    position: absolute;
}

.about2 {
    background-color: rgb(198, 198, 198);
    height: 20px;
    width: 80px;
    margin-top: 20px;
    margin-left: 87vw;
    text-align: center;
}


.contact2 {
    background-color: rgb(198, 198, 198);
    height: 20px;
    width: 80px;
    margin-left: 93vw;
    margin-top: -20px;
    text-align: center;
}